<html>
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>
    <input type="radio" name="courseId" value="1"> Веб програмирање<br/>
    <input type="radio" name="courseId" value="2"> Оперативни системи<br/>
    <input type="radio" name="courseId" value="3"> Електронска и мобилна трговија<br/>
    <input type="radio" name="courseId" value="4"> Компјутерски мрежи<br/>

    <br/>
    <a href="/АddStudent">Submit</a>
</main>
</body>
</html>
<body>

</body>
</html>